.form{
    margin-top: 1rem;
    &__{
        &fieldset{
            margin-bottom: 1.25rem;
            &--between{
                display: flex;
                justify-content: space-between;
            }
        }
        &name{
            margin-bottom: 0.5rem;
            color: $color__font_secondary;
        }
        &input{
            width: 100%;
            min-height: 40px;
            padding: 0 1rem;
            
            background-color: white;
			
			box-shadow: inset 0 0 0 1px gray(90%);
			transition: ;
			
			&:hover,
			&:focus{
				box-shadow: inset 0 0 0 2px $color__yellow;
			}
        }
    }
}