.social{
	@extend .b-grid;
	
	// elements
	&__{
		&link{
			size: 2.75rem;
			
			// mods
			&--{
				@each $name in vkontakte, facebook, linkedin, odnoklassniki {
					&$(name){
						background: $(name)-color;
					}
				}
			}
		}
	}
}