<div class="social">
    <a href="#" class="social__link social__link--vkontakte"></a>
    <a href="#" class="social__link social__link--facebook"></a>
    <a href="#" class="social__link social__link--linkedin"></a>
    <a href="#" class="social__link social__link--odnoklassniki"></a>
</div>