.nav{
	
	margin: 3rem 0 0;
	
	text-align: center;
	
	display: flex;
	justify-content: space-between;
	
	// elements
	&__{
		&col{
			width: 270px;
		}
		&title{
			min-height: 3rem;
			margin: 0 0 1.5rem;
			
			font-family: $font__family_secondary;
			font-size: 1.125rem;
			font-weight: 700;
			font-style: italic;
			line-height: 1.5;
			
			text-transform: uppercase;
			
			&-mark{
				display: block;
				
				color: $color__gray_light;
			}
		}
		&preview{
			margin: 0 0 1rem;
		}
		&desc{
			text-transform: uppercase;
		}
		&more{
			display: inline-block;
			margin: 1.5rem 0 0;
			
			text-transform: uppercase;
			
			color: $color__gray_light;
			
			&:hover{
				color: $color__secondary;
			}
		}
		&news{
			
			line-height: 1.4;
			
			&::after{
				content: '●';
				
				display: block;
				margin: .8rem 0;
				
				color: gray(90%);
			}
		}
		&news &desc{
			height: 59px;
			overflow: hidden;
			
			font-family: $font__family_secondary;
			
			text-transform: none;
		}
		&time{
			color: $color__gray_light;
		}
	}
}