<div class="nav">
    <div class="nav__col" repeat="3">
        <div class="nav__title">Интересные идеи <span class="nav__title-mark">по декору</span></div>
        <img src=":270x290" alt="" class="nav__preview">
        <div class="nav__desc">Полезный ресурс для тех кто любит шить сам или только хочет начать</div>
        <a href="#" class="nav__more">Больше идей</a>
    </div>
    <div class="nav__col">
        <div class="nav__title">Новости</div>
        <div class="nav__news" repeat="3">
            <time class="nav__time">16.08.2015</time>
            <div class="nav__desc">Полезный ресурс для тех кто любит шить сам или только хочет начатьолезный ресурс для тех кто любит шить сам или только хочет начать</div>
        </div>
        <a href="#" class="nav__more">Больше идей</a>
    </div>
</div>