.g-errors{

	/*elements*/
	&__{
        &item{
            display: none;
            position: fixed;
            z-index: 10000;
            top: 0;
            right: 0;
            left: 0;
            box-sizing: border-box;
            background: #d63f3f;
            padding: 0 20px;
            text-align: center;
            font-family: arial;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            opacity: 1;
        }
        &popup{
            bottom: 0;
            padding: 10% 0;
        }
        &browser{
            display: inline-block;
        }
        &logo{
            display: block;
            size: 100px;
            border: 0;
            margin: 20px;
            outline: 0;
            
            opacity: .8;
            
            // mods
            &:hover{
                opacity: 1;
                
                text-decoration: none;
            }
            &--{
                @each $browser in firefox, chrome {
                    &$(browser){
                        background: url(assets/img/g-errors__logo--$(browser).png);
                    }
                }
            }
        }
        &old{
            @each $feature in csstransforms, csscalc, flexbox {
                .u-support_no-$(feature) &{
                    display: block;
                }
            }
        }
    }
	.u-support_no-flexbox .g-page > :not(&){
		display: none;
	}
}