.button{
	height: 50px;
	padding: 0 1rem;
	
	font-size: 1rem;
	font-style: italic;
	
	transition: ;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	// mods
	&:active{
		box-shadow: inset 0 0.2rem 0.375rem gray(0, 20%);
	}
	&:not(&--mini){
		height: 50px;
		
		font-family: $font__family_secondary;
		
		text-transform: uppercase;
		
		background: $color__primary;
		color: white;
		
		&:hover{
			border: none;
			
			background: $color__secondary;
			color: white;
			cursor: pointer;
		}
		&:active{
			box-shadow: inset 0 3px 6px color(black a(.2));
		}
	}
	// mods
	&--{
		&mini{
			height: 35px;
			border: 1px solid currentColor;
			
			color: $color__primary;
			
			&:hover{
				background: $color__secondary;
				color: white;
			}
		}
	}
	&&--empty{
		border: 2px solid $color__primary;
		
		font-style: normal;
		font-family: $font__family_primary;
		
		background: none;
		color: $color__primary;
	}
}