<div class="menu section section--full">
    <div class="menu__ribbon i-ribbon"></div>
    <a href="#" class="menu__item">О проекте</a>
    <a href="#" class="menu__item">Начинаем</a>
    <a href="#" class="menu__item">Полезности</a>
    <a href="#" class="menu__item">История</a>
    <a href="#" class="menu__item">Мастер классы</a>
    <a href="#" class="menu__item">Выбрать ткани</a>
    <a href="#" class="menu__item">Оплата и доставка</a>
    <div class="menu__ribbon i-ribbon"></div>
</div>