.menu{
	@extend .b-grid;
	@extend .b-grid_row;
	align-items: center;
	
	position: relative;
	
	min-height: 60px;
	
	font-weight: 700;
	
	text-transform: uppercase;
	
	background-color: $color__primary;
	background-image: linear-gradient(
		90deg,
		transparent 0%,
		color(white a(.2)) 1%,
		color(white a(.3)) 3%,
		transparent 40%,
		transparent 60%,
		color(white a(.3)) 97%,
		color(white a(.2)) 99%,
		transparent 100%
		);
	color: white;
	
	// elements
	&__{
		&item{
			padding: 0 2rem;
			
			color: inherit;
		}
		&ribbon{
			position: absolute .75rem * *;
			z-index: 10;
			
			&:first-child{
				right: 100%;
				transform: rotateY(180deg);
			}
			&:last-child{
				left: 100%;
			}
		}
	}
}