[class^="i-"],
[class*=" i-"]{
	display: inline-block;
}
[class^='i-']:before,
[class*=' i-']:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background-image: url(assets/img/icons.png);
}
.i-arrow-long:before {
	width: 47px;
	height: 13px;
	background-position: 0px -231px;
}
.i-arrow-pag:before {
	width: 15px;
	height: 13px;
	background-position: -224px -150px;
}
.i-cart:before {
	width: 20px;
	height: 20px;
	background-position: -181px -57px;
}
.i-fb-cc:before {
	width: 32px;
	height: 32px;
	background-position: -224px -113px;
}
.i-fb:before {
	width: 44px;
	height: 44px;
	background-position: -147px -168px;
}
.i-in:before {
	width: 44px;
	height: 44px;
	background-position: -166px -95px;
}
.i-logo-sm:before {
	width: 139px;
	height: 33px;
	background-position: 0px -57px;
}
.i-logo:before {
	width: 219px;
	height: 52px;
	background-position: 0px 0px;
}
.i-ok-cc:before {
	width: 32px;
	height: 32px;
	background-position: -144px -57px;
}
.i-ok:before {
	width: 44px;
	height: 44px;
	background-position: -49px -168px;
}
.i-phone:before {
	width: 13px;
	height: 18px;
	background-position: -222px -168px;
}
.i-ribbon:before {
	width: 49px;
	height: 61px;
	background-position: -58px -95px;
}
.i-scissors:before {
	width: 53px;
	height: 68px;
	background-position: 0px -95px;
}
.i-separator:before {
	width: 4px;
	height: 19px;
	background-position: -262px -75px;
}
.i-slider__arrow:before {
	width: 21px;
	height: 39px;
	background-position: -196px -168px;
}
.i-t-shirt:before {
	width: 49px;
	height: 57px;
	background-position: -112px -95px;
}
.i-thread:before {
	width: 44px;
	height: 58px;
	background-position: 0px -168px;
}
.i-tools:before {
	width: 43px;
	height: 70px;
	background-position: -224px 0px;
}
.i-user:before {
	width: 13px;
	height: 19px;
	background-position: -206px -57px;
}
.i-vk-cc:before {
	width: 33px;
	height: 33px;
	background-position: -224px -75px;
}
.i-vk:before {
	width: 44px;
	height: 44px;
	background-position: -98px -168px;
}
