.footer{
	padding: 70px 0 0 0;
	border-top: 1px solid gainsboro;
	margin-top: 100px;
	
	// elements
	&__{
		&body{
			@extend .b-grid;
			@extend .b-grid_row;
		}
		&bottom{
			@extend .b-grid;
			@extend .b-grid_row;
			align-items: center;
			margin-top: 3rem;
		}
		&left{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&right{
			width: 70%;
		}
		&title{
			text-transform: uppercase;
			&-{
				&main{
					color: $color__font_primary;
					font-weight: 700;
				}
				&sub{
					color: $color__font_secondary;
				}
			}
		}
		&copyright{
			color: $color__font_primary;
		}
		&menu{
			display: flex;
			justify-content: space-between;
			&-{
				&link{
					display: block;
					color: $color__font_primary;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
		&info{
			margin-top: 3rem;
			
			&-{
				&title{
					color: $color__font_primary;
					font-weight: 700;
				}
				&body{
					display: flex;
					
					margin-top: 1.5rem;
				}
				&col{
					&:not(:last-child){
						margin-right: 3rem;
					}
				}
				&text{
					color: $color__font_secondary;
					span{
						color: $color__font_primary;
					}
				}
			}
		}
		&social{
			display: flex;
			&-{
				&link{
					display: block;
				}
			}
		}
		&made{
			&-{
				&link{
					color: $color__font_primary;
				}
				&name{
					color: $color__font_secondary;
				}
			}
		}
	}
}