<div class="footer">
    <div class="footer__body">
        <div class="footer__left">
            <div class="footer__title">
                <div class="footer__title-main">Мануфактура каретникова</div>
                <div class="footer__title-sub">Информационный портал, магазин</div>
            </div>
            <div class="footer__logo">
                <i class="i-logo-sm"></i>
            </div>
            <div class="footer__copyright">© Магазин тканей Fabric, 2016</div>
        </div>
        <div class="footer__right">
            <div class="footer__menu">
                <a href="#" class="footer__menu-link">О проекте</a>
                <a href="#" class="footer__menu-link">Начинаем</a>
                <a href="#" class="footer__menu-link">Полезности</a>
                <a href="#" class="footer__menu-link">История</a>
                <a href="#" class="footer__menu-link">Мастер классы</a>
                <a href="#" class="footer__menu-link">Выбрать ткани</a>
                <a href="#" class="footer__menu-link">Оплата и доставка</a>
            </div>
            <div class="footer__info">
                <div class="footer__info-title">Контактная мнформация:</div>
                <div class="footer__info-body">
                    <div class="footer__info-col">
                        <div class="footer__info-text"><span>Телефоны:</span> +7 499 110 48 01</div>
                        <div class="footer__info-text"><span>Е-mail:</span> yulia@tkani-opt.ru</div>
                    </div>
                    <div class="footer__info-col">
                        <div class="footer__info-text"><span>Наш Адрес:</span></div>
                        <div class="footer__info-text">Москва, ул. Щербаковская, д. 35</div>
                    </div>
                    <div class="footer__info-col">
                        <div class="footer__info-text"><span>График работы магазина:</span></div>
                        <div class="footer__info-text">Пн.-Пт. с 10:00 до 20:00. Сб.-Вс. с 11:00 до 19:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__social">
            <a href="#" class="footer__social-link"><i class="i-vk"></i></a>
            <a href="#" class="footer__social-link"><i class="i-fb"></i></a>
            <a href="#" class="footer__social-link"><i class="i-in"></i></a>
            <a href="#" class="footer__social-link"><i class="i-ok"></i></a>
        </div>
        <div class="footer__made">
            <a href="#" class="footer__made-link">DRA.RU - </a>
            <span class="footer__made-name">Интернет-магазин</span>
        </div>
    </div>
</div>