.g-page{
	min-width: 1330px;
	
	font-size: $font__size;
	font-family: $font__family_primary;
	
	background-color: $color__bg;
	background-image:
		url(assets/img/g-page__ornament--right.png),
		url(assets/img/g-page__ornament--left.png),
		url(assets/img/g-page__bg--right.jpg),
		url(assets/img/g-page__bg--left.jpg);
		
	background-position:
		right calc(50% - $content / 2 - 155px) top,
		left calc(50% - $content / 2 - 155px) top,
		right calc(50% - $content / 2 - 155px) center,
		left calc(50% - $content / 2 - 155px) center;
		
	background-repeat: no-repeat, no-repeat, repeat-y, repeat-y;
	color: $color__font_primary;
	
	// elements
	&__{
		&content{
			position: relative;
			max-width: $content;
			padding: 0 2rem;
			margin: auto;
			
			box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.2);
			background: white;
			
			&::after{
				position: absolute 0 * *;
				z-index: -10;
			}
			
			&::after{
				left: 100%;
			}
		}
	}
}