<div class="aside">
    <a href="#" class="aside__title">все статьи</a>
    <a href="#" class="aside__title aside__title--active">Модные тенденции</a>
    <a href="#" class="aside__title">с чего начать</a>
    <a href="#" class="aside__title">материалы</a>
    <a href="#" class="aside__title">выкройки</a>
    <a href="#" class="aside__title">идеи декора</a>
</div>