.aside{
	
	// elements
	&__{
		&title,
		&subtitle,
		&type{
			display: block;
			
			color: inherit;
			
			a&:hover{
				text-decoration: underline;
			}
		}
		&title,
		&subtitle{
			
			text-transform: uppercase;
		}
		&subtitle,
		&type{
			&--active{
				font-weight: 700;
			}
		}
		&title{
			
			font-weight: 700;		
			font-size: 1.5rem;
			
			&--active{
				color: $color__font_secondary;
			}
		}
		&subtitle{
			margin: 0 0 0 .75rem;
			
			font-size: 0.75rem;
			line-height: 1.75;
		}
		&type{
			position: relative;
			
			margin: 0 0 0 1.5rem;
			
			font-size: 0.7rem;
			line-height: 1.9;
			
			&--active::before{
				content: '';
				position: absolute 50% 100% * *;
				transform: translateY(-40%);
				padding: 0 5px 0 0;
				
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 4px solid currentColor;
			}
		}
	}
}