<div class="aside">
    <a href="#" class="aside__title">все статьи</a>
    <a href="#" class="aside__title aside__title--active">Модные тенденции</a>
    <a href="#" class="aside__title">с чего начать</a>
    <a href="#" class="aside__title">материалы</a>
    <a href="#" class="aside__title">выкройки</a>
    <a href="#" class="aside__title">идеи декора</a>
    <a href="#" class="aside__title">идеи аксессуаров</a>
    <a href="#" class="aside__title">Из чего шьем</a>
    <a href="#" class="aside__subtitle">Из чего шьем #1 подгруппа</a>
    <a href="#" class="aside__subtitle">Из чего шьем #2 подгруппа</a>
    <a href="#" class="aside__subtitle aside__subtitle--active">Из чего шьем #3 подгруппа</a>
    <a href="#" class="aside__type">Шелк</a>
    <a href="#" class="aside__type">Хлопок</a>
    <a href="#" class="aside__type">Шифон</a>
    <a href="#" class="aside__type">Сетка</a>
    <a href="#" class="aside__type">Подкладка</a>
    <a href="#" class="aside__type">Плательно-костюмная</a>
    <a href="#" class="aside__type">Пальтовая</a>
    <a href="#" class="aside__type">Трикотаж</a>
    <a href="#" class="aside__type">Вискоза, штапель</a>
    <a href="#" class="aside__type">Жаккард</a>
    <span class="aside__type aside__type--active">Кожзам, искуственная замша</span>
    <a href="#" class="aside__type">Джинса</a>
    <a href="#" class="aside__subtitle">Из чего шьем #5 подгруппа</a>
    <a href="#" class="aside__title">Акции</a>
    <a href="#" class="aside__title">Что шьем</a>
</div>
<import src="filter"></import>