<div class="popup" data-popup="login">
	<div class="popup__overlay" onclick="popup.close()"></div>
	<div class="popup__content">
		<div class="popup__close" onclick="popup.close()"></div>
        <div class="popup__body">
            <div class="popup__col">
                <div class="popup__login">
                    <div class="popup__login-head">
                        <div class="popup__title">Вход</div>
                        <form action="action.php" class="form popup__login-form">
                            <div class="form__fieldset">
                                <div class="form__name">E-mail (используется как логин)</div>
                                <input type="text" class="form__input">
                            </div>
                            <div class="form__fieldset">
                                <div class="form__name">Пароль</div>
                                <input type="text" class="form__input">
                            </div>
                            <div class="form__fieldset form__fieldset--between">
                                <label for="consent" class="checkbox">
                                    <input type="checkbox" name="consent" id="consent" class="checkbox__input">
                                    <span class="checkbox__dot"></span>
                                    Запомнить меня
                                </label>
                                <a href="#" class="popup__link">Я забыл пароль</a>
                            </div>
                        </form>
                        <button class="button button--empty popup__button">Войти</button>
                    </div>
                    <div class="popup__social">
                        <div class="popup__social-title">Войти через аккаунт в социальной сети:</div>
                        <div class="popup__social-links">
                            <a href="#" class="popup__social-link"><i class="i-vk-cc"></i></a>
                            <a href="#" class="popup__social-link"><i class="i-fb-cc"></i></a>
                            <a href="#" class="popup__social-link"><i class="i-ok-cc"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup__col">
                <div class="popup__register">
                    <div class="popup__title">Еще не с нами?</div>
                    <div class="popup__subtitle">Регистрация</div>
                    <form action="action.php" class="form">
                        <div class="form__fieldset">
                            <div class="form__name">E-mail (используется как логин)</div>
                            <input type="text" class="form__input">
                        </div>
                        <div class="form__fieldset">
                            <div class="form__name">Имя и фамилия</div>
                            <input type="text" class="form__input">
                        </div>
                        <div class="form__fieldset">
                            <div class="form__name">Пароль</div>
                            <input type="text" class="form__input">
                        </div>
                        <div class="form__fieldset">
                            <div class="form__name">Повторите пароль</div>
                            <input type="text" class="form__input">
                        </div>
                    </form>
                    <button class="button button--empty popup__button">Зарегистрироваться</button>
                </div>
            </div>
        </div>
	</div>
</div>