.lock{
	overflow: hidden;
}
.popup{
    @extend .b-grid;
    @extend .b-grid_centred;
    
	position: fixed 0;
	z-index: 1000;
    
	background: color(black a(.2));
    
    // mods
    &:not(._open){
        display: none;
    }
    
    // elements
    &__{
        &overlay{
            position: absolute 0;
            z-index: 1;
        }
        &content{
            overflow: hidden;
            width: 720px;
            min-width: 320px;
            position: relative;
            z-index: 2;
            
            margin: 50px 2rem;
            background: #fff;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
            @media(--tablet-less){
                width: 100%;
                margin: 0;
            }
        }
        &body{
            display: flex;
        }
        &col{
            width: 50%;
        }
        &login{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 2.8rem;
            &-form{
                margin-top: 2.5rem !important;
            }
        }
        &register{
            padding: 2.8rem;
            background-color: #f7f7f7;
        }
        &title{
            font-family: $font__family_secondary;
            font-size: 1.875rem;
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;
            color: #333;
        }
        &subtitle{
            font-family: $font__family_secondary;
            font-size: 1.125rem;
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;
            color: $color__font_secondary;
        }
        button&button{
            width: 100%;
        }
        &link{
             color: $color__primary;
        }
        &social{
            &-title{
                color: $color__font_secondary;
            }
            &-links{
                margin-top: 1.5rem;
            }
            &-link{
                &:not(:last-child){
                    margin-right: 2rem;
                }
            }
        }
    }
}