.product{
	@extend .b-grid;
	
	margin: 0 0 60px;
	
	color: gray(40%);
	
	// elements
	&__{
		&gallery,
		&info{
			flex: 1;
		}
		&gallery{
			max-width: 500px;
		}
		&info{
			margin: 0 50px 0 100px;
		}
		&title,
		&article,
		&price{
			font-family: $font__family_secondary;
			font-style: italic;
		}
		&title,
		&price{
			font-size: 2.25rem;
			
			text-transform: uppercase;
		}
		&title{
			margin: 0;
			font-weight: 700;
		}
		&article{
			margin: 0 0 2rem;
		}
		&price-note{
			margin: 0 0 2.5rem;
		}
		&buy{
			max-width: 370px;
			margin: 2.5rem 0;
		}
		&prop{
			&s{
				@extend .b-grid;
				flex-wrap: wrap;
				
				font-size: .8rem;
				
				text-transform: uppercase;
			}
			&-{
				&param,
				&value{
					padding: .5rem 0;
				}
				&param{
					width: 40%;
					padding-right: 2rem;
					border-right: 1px solid gray(80%);
					
					font-weight: 600;
				}
				&value{
					width: 60%;
					padding-left: 2rem;
					margin: 0;
				}
			}
		}
	}
}