<div class="product">
    <div class="product__gallery">
        <import src="gallery"></import>
    </div>
    <div class="product__info">
        <h1 class="product__title">Замша искусственная</h1>
        <div class="product__article">Артикул 25-00087-16</div>
        <div class="product__price">550,00 руб.</div>
        <div class="product__price-note">Цена за 1 м</div>
        <a href="#" class="product__buy button">Добавить в корзину</a>
        <dl class="product__props">
            <dt class="product__prop-param">Страна производитель</dt>
            <dd class="product__prop-value">Италия</dd>
            <dt class="product__prop-param">Наличие</dt>
            <dd class="product__prop-value">Нет в наличии</dd>
            <dt class="product__prop-param">Цвет</dt>
            <dd class="product__prop-value">черный</dd>
            <dt class="product__prop-param">Ширина</dt>
            <dd class="product__prop-value">150 см</dd>
            <dt class="product__prop-param">Назначение</dt>
            <dd class="product__prop-value">Искусственная замша черного цвета. Плотная, поверхность шероховатая.</dd>
            <dt class="product__prop-param">Состав ткани</dt>
            <dd class="product__prop-value">100% полиамид</dd>
        </dl>
    </div>
</div>