<div class="entry section section--full">
    <img src=":1240x480" alt="" class="entry__image">
    <div class="entry__content">
        <a href="#" class="entry__back">вернуться назад</a>
        <div class="entry__title">Модные тенденции 2016. Стиль готик</div>
    </div>
</div>