.entry{
	position: relative;
	
	// elements
	&__{
		&content{
			position: absolute 1.5rem * * 2rem;
			
			text-transform: uppercase;
			
			color: white;
		}
		&back,
		&title{
			padding: 0 .5em;
			
			background: gray(30%);
			
			color: inherit;
		}
		&back{
			
			font-size: 0.625rem;
			
			&::before{
				content: '⟵';
				margin: 0 .5em 0 0;
			}
		}
		&title{
			margin: 1.25rem 0 0;
			
			font-family: $font__family_secondary;
			font-size: 1.5rem;
			font-style: italic;
		}
	}
}