.header{
	@extend .b-grid;
	@extend .b-grid_row;
	
	padding: 1.5rem 2rem;
	align-items: center;
	
	background: url(assets/img/header__bg.png) right 0 no-repeat;
	
	// elements
	&__{
		&logo{
			&-{
				&slogan{
					color: $color__font_secondary;
					font-family: $font__family_secondary;
					font-size: 1.125rem;
					font-style: italic;
					line-height: 2rem;
					letter-spacing: 10px;
				}
			}
		}
		&info{
			@extend .b-grid;
			justify-content: space-between;
			
			width: 60%;
			text-shadow: 0 0.063rem 0 rgba(255, 255, 255, 0.24);
			color: $color__font_primary;
		}
		&phone{
			position: relative;
			color: $color__font_primary;
			font-weight: 600;
			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				background-image: url(assets/img/icons.png);
				width: 13px;
				height: 18px;
				background-position: -222px -168px;
				
				position: absolute;
				top: 0;
				right: 100%;
				
				margin-right: 0.5rem;
			}
		}
		&callback{
			display: inline-block;
			text-shadow: 0 0.063rem 0 rgba(255, 255, 255, 0.24);
			color: $color__primary;
			font-size: 0.75rem;
			border-bottom: 1px dashed $color__primary;
			cursor: pointer;
			&:hover{
				border-bottom: none;
			}
		}
		&login{
			position: relative;
			text-shadow: 0 0.063rem 0 rgba(255, 255, 255, 0.24);
			color: $color__font_secondary;

			a{
				margin: 0 0.1rem;
				text-decoration: none;
				color: $color__primary;
			}
			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				background-image: url(assets/img/icons.png);
				width: 13px;
				height: 19px;
				background-position: -206px -57px;
				
				position: absolute;
				top: 0;
				right: 100%;
				
				margin-right: 0.5rem;
			}
		}
		&cart{
			position: relative;
			text-shadow: 0 0.063rem 0 rgba(255, 255, 255, 0.24);
			color: $color__primary;
			&-{
				&icon{
					margin: 0 0.5rem;
				}
			}
			&:after{
				content: '';
				display: inline-block;
				vertical-align: middle;
				background-image: url(assets/img/icons.png);
				width: 20px;
				height: 20px;
				background-position: -181px -57px;
				
				position: absolute;
				top: 0;
				right: 100%;
				
				margin-right: 0.5rem;
			}
		}
	}
}