<div class="header section section--full">
    <a href="main.htm" class="header__logo">
        <div class="header__logo-icon"><i class="i-logo"></i></div>
        <div class="header__logo-slogan">Cash & Carry</div>
    </a>
    <div class="header__info">
        <div class="header__col">
            <div class="header__phone">+7 495 111-22-33</div>
            <div class="header__callback">Перезвоните мне</div>
        </div>
        <div class="header__col">
            <div class="header__login">
                <a href="#" onclick="popup.open('login')">Вход</a>
                 или 
                <a href="#" onclick="popup.open('login')">регистрация</a>
            </div>
        </div>
        <div class="header__col">
            <div class="header__cart">Корзина</div>
            <span class="header__cart-product">Товаров: 5</span>
            <span class="header__cart-icon"><i class="i-separator"></i></span>
            <span class="header__cart-sum">Сумма: 8 478 руб.</span>
        </div>
    </div>
</div>