.quote{
	padding: 2rem 0;
	border: 0 solid gray(90%);
	border-width: 1px 0;
	margin: 3rem 0;
	
	display: flex;
	
	// elements
	&__{
		&preview{
			margin: 0 60px 0 0;
			
			border-radius: ;
		}
		&content{
			position: relative;
			
			padding: 0 85px 2rem 0;
			
			font-family: $font__family_secondary;
			font-size: 1.125rem;
			line-height: 1.6;
			
			color: gray(40%);
			
			&::before,
			&::after{
				position: absolute;
				
				font-family: Georgia;
				font-size: 5rem;
				line-height: 1;
				
				text-transform: uppercase;
				color: gray(90%);
			}
			&::before{
				content: '“';
				right: 0;
			}
			&::after{
				content: '“';
				right: 105%;
			}
			p{
				margin: 0;
			}
		}
	}
}