<blockquote class="quote">
    <img src=":200x200" alt="" class="quote__preview">
    <div class="quote__content">
        <p>Пример цитаты или врезки.</p>
        <p>Относите ли вы себя к числу рафинированных гурманов или к настоящим ценителям уличной еды, первая книга Farfetch Curates Food, вышедшая в издательстве Assouline, непременно придется вам по вкусу.  От устриц в бельгийском In De Wulf до деликатесов, которые можно найти на улицах Сингапура, Farfetch совершил глобальное путешествие по миру и попросил своих инсайдеров рассказать о самых ярких гастрономических открытиях. </p>
    </div>
</blockquote>