// direct
$color__white: #fff;
$color__black: #000;
$color__red: #e84660;
$color__blue: #67b7d4;
$color__yellow: #f6b238;

$color__gray_light: #9c9999;
$color__gray_dark: #353534;

$color__bg: #f7f7f7;

// abstract
$color__primary: $color__red;
$color__secondary: $color__blue;

// font
$color__font_primary: $color__gray_dark;
$color__font_secondary: $color__gray_light;