// families

$font__family_sans-serif: 'Open Sans', Arial, Helvetica, sans-serif;
$font__family_monospace: monospace;
$font__family_serif: 'Lora', 'Times New Roman', Times, serif;

$font__family_primary: $font__family_sans-serif;
$font__family_secondary: $font__family_serif;

// sizes
$font__size: 14px;
