.intro{
	position: relative;
	
	height: 500px;
	
	// elements
	&__{
		&slide{
			position: relative;
			
			&,
			&s{
				height: 100%;
			}
			
			&:not(&--active){
				display: none;
			}
		}
		&image{
			display: block;
			size: 100%;
			
			object-fit: cover;
		}
		&content{
			position: absolute 0;
			z-index: 100;
			
			size: 50% 80%;
			padding: 5%;
			margin: auto;
			border: 1px solid white;
			
			text-align: center;
			
			color: white;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			&::after{
				content: '';
				position: absolute 0;
				z-index: -10;
				
				background: color(white a(.3));
				filter: blur(10px);
			}
			&::before{
				content: '';
				position: absolute -5px;
				z-index: -10;
				
				border: 2px solid white;
			}
		}
		&title{
			margin: 0 0 2rem;
			
			font-size: 3rem;
			font-weight: 700;
			
			text-transform: uppercase;
		}
		&text{
			font-family: $font__family_secondary;
			font-size: 1.125rem;
			line-height: 1.6;
		}
		a&button.button{
			margin: 1.5rem 0 0;
			
			width: 220px;
			
			font-size: .75rem;
			
			background: $color__primary;
			color: white;
		}
		&arrow{
			position: absolute 0 * 0;
			z-index: 10;
			padding: 2rem;
			
			cursor: pointer;
			
			display: flex;
			align-items: center;
			
			&--{
				&prev{
					left: 0;
				}
				&next{
					right: 0;
					transform: rotate(180deg);
				}
			}
		}
		&nav{
			@extend .b-grid;
			align-items: center;
			
			position: absolute * 2rem 1.5rem *;
			z-index: 20;
		}
		&dot{
			size: 4px;
			margin: 0 .25rem;
			
			border-radius: ;
			cursor: pointer;
			
			&:not(&--active){
				background: white;
			}
			&--active{
				size: 8px;
				background: $color__secondary;
			}
		}
	}
}