<div class="intro section section--full">
    <div class="intro__arrow intro__arrow--prev i-slider__arrow"></div>
    <div class="intro__slides">
        <div class="intro__slide">
            <img class="intro__image" src=":1240x500/333" alt="">
            <div class="intro__content">
                <div class="intro__title">мастер-классы</div>
                <div class="intro__text">Приглашаем на наши мастер-классы! Дорогие посетители нашего сайта, приходите на наши мастер-классы по основам портняжного дела. Мы вместе ...</div>
                <a href="#" class="intro__button button button--empty">Узнать подробнее</a>
            </div>
        </div>
        <div class="intro__slide">
            <img class="intro__image" src=":1240x500/777" alt="">
            <div class="intro__content">
                <div class="intro__title">мастер-классы</div>
                <div class="intro__text">Приглашаем на наши мастер-классы! Дорогие посетители нашего сайта, приходите на наши мастер-классы по основам портняжн</div>
                <a href="#" class="intro__button button button--empty">Узнать подробнее</a>
            </div>
        </div>
        <div class="intro__slide">
            <img class="intro__image" src=":1240x500/684" alt="">
            <div class="intro__content">
                <div class="intro__title">мастер-классы</div>
                <div class="intro__text">Приглашаем на наши мастер-классы! Дорогие посетители нашего сайта,жного дела. Мы вместе ...</div>
                <a href="#" class="intro__button button button--empty">Узнать подробнее</a>
            </div>
        </div>
    </div>
    <div class="intro__arrow intro__arrow--next i-slider__arrow"></div>
    <div class="intro__nav">
        <div class="intro__dot"></div>
        <div class="intro__dot"></div>
        <div class="intro__dot"></div>
    </div>
</div>