<div class="breadcrumbs">
    <a href="#" class="breadcrumbs__link">Главная</a>
    <a href="#" class="breadcrumbs__link">из чего шьем</a>
    <span class="breadcrumbs__link">Кожзам, искуственная замша</span>
</div>