.breadcrumbs{
	margin: 2.5rem 0;
	
	text-transform: uppercase;
	
	// elements
	&__{
		&link{
			&:not(:last-child){
				color: $color__primary;
				
				&:hover{
					text-decoration: underline;
				}
				
				&:after{
					content: '/';
					
					display: inline-block;
					margin: 0 .25rem;
				}
			}
			&:last-child{
				color: $color__font_secondary;
			}
		}
	}
}