<div class="article">
    <h1 class="article__title">Тренд ностальгия по черному</h1>
    <div class="article__grid">
        <aside class="article__aside">
            <div class="article__author">Автор статьи</div>
            <time class="article__time">15.05.2016</time>
        </aside>
        <main class="article__main">
            <p>Prada, Marchesa, Balenciaga решили обратиться к ретро-стилю, благодаря чему по подиуму гарцевали модели, гордо демонстрирующие платья из ярких пайеток, сдержанные однотонные наряды из костюмной ткани, платья с выраженной линией талией и широкими юбками, длинные перчатки, украшения и сумочки с бахромой, крупные очки, платья-колокола, ярко-красные губы, свойственные ретро-стилю локоны и т.д. Следует сказать, что наряды в ретро-стиле — великолепное решение для тех, кто хочет хотя бы не надолго почувствовать себя героиней какой-то киноленты или мюзикла. Однако необходимо учитывать, что подобные образы должны быть хорошо и тщательно продуманы, ведь ретро-стиль не терпит соседства с другими модными направлениями. Именно поэтому, выбирая подобные образы, вам необходимо будет спланировать их до мельчайших подробностей: начиная от лака на ногах и заканчивая прической.</p>
            <img src=":865x680" alt="">
            <p>Мех — один из главных трендов осенне-зимнего сезона 2015-2016. Причем речь сейчас не идет о меховых полушубках или шапках. Речь идет о том, что в данном материале были выполнены юбки, сумки, боа, ботильоны, украшения (Oscar de la Renta, Fendi). В том случае, если полностью меховые изделия вам не по душе, можно ограничиться меховой отделкой. Zuhair Murad, Oscar de la Renta, Dolce and Gabbana, Marchesa похоже совсем не следят за временем года. Несмотря на нетипичный для цветов сезон, данные бренды предлагают украшать ими буквально все предметы дамского гардероба — начиная основными нарядами и заканчивая украшениями и аксессуарами. Причем цветочные аппликации, вышивки и принты могут одинаково удачно применяться, как в повседневной, так и вечерней моде.</p>
            <import src="quote"></import>
            <p>Макси длина, безусловно, побила все рекорды популярности в новом холодном сезоне. Несмотря на то, что на показах встречались также и изделия в длине миди и мини, макси наряды фигурировали на них гораздо чаще. Наибольший интерес к данной длине проявили Ralph Lauren, Valentin Yudashkin, Emilio Pucci, Versace, Christian Dior. Эти бренды включили в свои новые линии огромное количество длинных платьев, а также удлиненных ботфортов и сапогов-чулков.</p>
        </main>
    </div>
</div>