.article{
	
	// elements
	&__{
		&grid{
			display: flex;
		}
		&aside{
			min-width: 200px;
			
			line-height: 1.5;
			
			text-transform: uppercase;
			
			&:before{
				content: '#';
				display: block;
				
				margin: 0 0 1rem;
				
				font-size: 1.5rem;
				font-weight: 300;
				line-height: .7;
				
				color: black;
			}
		}
		&author{
			font-weight: 700;
			
			color: black;
		}
		&time{
			color: $color__gray_light;
		}
		&title{
			margin: 0 0 1em 200px;
			
			font-family: $font__family_secondary;
			font-size: 1.5rem;
			font-style: italic;
			font-weight: 400;
			
			text-transform: uppercase;
		}
		&main{
			padding-right: 100px;
			
			> p{
				margin: 0 0 2em;
				
				line-height: 1.6;
				
				&:not(:first-child):not(:first-of-type){
					margin-top: 2em;
				}
			}
		}
	}
}