<div class="sort">
    <div class="sort__sorting sort__param">
        Сортировать по:
        <a href="#" class="sort__type sort__type--increase sort__type--active">Названию</a>
        <a href="#" class="sort__type sort__type--decrease">Цене</a>
    </div>
    <div class="sort__pages sort__param">
        На странице:
        <a href="#" class="sort__type sort__type--active">20</a>
        <a href="#" class="sort__type">40</a>
        <a href="#" class="sort__type">80</a>
    </div>
</div>