.sort{
	
	display: flex;
	justify-content: space-between;
	
	margin: 0 0 2rem;
	
	font-family: $font__family_secondary;
	font-size: 0.875rem;
	
	// elements
	&__{
		&type{
			margin-left: 1rem;
			
			line-height: 1;
			
			color: $color__primary;
			cursor: pointer;
			
			&--{
				&active{
					font-weight: 700;
					color: black;
				}
				&decrease,
				&increase{
					
					display: inline-flex;
					align-items: center;
					
					&::after{
						content: '';
						
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						margin: 0 0 -2px .5em;
					}
				}
				&decrease::after{
					border-top: 5px solid black;
				}
				&increase::after{
					border-bottom: 5px solid black;
				}
			}
		}
	}
}