.slider{
	
	
	// elements
	&__{
		&range{
			// noUi
			.noUi-{
				&base{
					position: relative;
					
					height: 0.25rem;
					margin: 0 0 1rem;
					
					background: color($color__primary a(.25	));
				}
				&origin{
					position: absolute 50% * * *;
				}
				&handle{
					transform: translateY(-50%) translateX(-50%);
					
					size: 14px;
					
					background: currentColor;
					color: gray(30%);
					
					&::before{
						content: '';
						display: block;
						transform: translateY(-100%);
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-bottom: 7px solid currentColor;
					}
				}
			}
		}
		&field{
			size: 90px 1.5rem;
			padding: 0 .75rem;
			
			font-size: 0.7rem;
			
			box-shadow: inset 0 0 0 1px gray(90%);
			transition: ;
			
			&:hover,
			&:focus{
				box-shadow: inset 0 0 0 2px $color__yellow;
			}
			
			&s{
				display: flex;
				justify-content: space-between;
			}
		}
	}
}