<div class="slider" data-min="100" data-max="8000">
    <div class="slider__range"></div>
    <div class="slider__fields">
        <input type="text" class="slider__field slider__field--min">
        <input type="text" class="slider__field slider__field--max">
    </div>
</div>