.card{
	position: relative;
	
	width: 25%;
	padding: 2rem 1rem;
	border: 1px solid gray(90%);
	margin: 0 0 -1px -1px;
	
	text-align: center;
	
	transition: ;
	
	// mods
	&:hover{
		border-color: gray(80%);
		z-index: 10;
	}
	&:hover &__buy{
		visibility: visible;
		opacity: 1;
	}
	
	// wrapper
	&s{
		@extend .b-grid;
		flex-wrap: wrap;
		
		margin: 0 0 3rem;
	}
	&s--related &{
		width: 20%;
		border-width: 0 1px 0 0;
		
		&:last-child{
			border: 0;
		}
	}
	
	// elements
	&__{
		&title{
			display: block;
			
			margin: 1rem 0 .5rem;
			
			font-family: $font__family_secondary;
			font-size: 1rem;
			
			transition: ;
			color: $color__primary;
			
			&:hover{
				color: $color__secondary;
			}
		}
		&desc{
			font-size: .7rem;
			
			color: $color__font_secondary;
		}
		&price{
			margin-top: .5rem;
			
			font-size: 1rem;
			font-weight: 700;
		}
		a&buy{
			size: 140px 35px;
			border-width: 1px;
			margin: 1rem auto 0;
			
			visibility: hidden;
			opacity: 0;
			transition: ;
		}
	}
}