<div class="card">
    <img src=":155x155" alt="" class="card__image">
    <a href="#" class="card__title">Замша искусственная</a>
    <div class="card__desc">100% полиамид 25-00087-16mmm</div>
    <div class="card__price">550,00 руб.</div>
    <a href="#" class="card__buy button button--mini">Купить</a>
</div>