.checkbox{
	// position: relative;
	// padding-left: 1.5rem;
	// color: $color__font_secondary;
	// cursor: pointer;
	
	// &:after{
	// 	box-sizing: border-box;
	// 	content: "";
	// 	width: 1rem;
	// 	height: 1rem;
	// 	padding: 0.2rem;
		
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 0;
	// 	transform: translate(0, -50%);
		
	// 	box-shadow: inset 0 0 0 1px color(black a(.2));
	// }
	// &:checked{
	// 	&:after{
	// 		box-shadow: inset 0 0 0 1px $color__primary;
	// 		background-color: $color__primary;
	// 		background-clip:content-box;
	// 	}
	// }
	
	display: flex;
	align-items: center;
	
	cursor: pointer;
	
	// elements
	&__{
		&input{
			position: absolute;
			left: -999999999999px;
		}
		&dot{
			min-size: 1rem;
			margin: 0 .5rem 0 0;
			
			border: 1px solid gray(80%);
			
			display: flex;
			align-items: center;
			justify-content: center;
			
			transition: ;
		}
		&input:checked + &dot{
			border-color: $color__primary;
			
			&::after{
				content: '';
				size: .5rem;
				background: $color__primary;
			}
		}
	}
}