<div class="gallery">
    <img src=":500x320" alt="" class="gallery__image">
    <div class="gallery__previews">
        <img src=":70x70" alt="" class="gallery__preview" data-image="http://placehold.alanev.ru/500x320">
        <img src=":70x70" alt="" class="gallery__preview" data-image="http://placehold.alanev.ru/500x320/f5f">
    </div>
</div>