.gallery{
	
	// elements
	&__{
		&image{
			display: block;
			size: 100% auto;
		}
		&preview{
			
			cursor: pointer;
			
			&:not(:last-child){
				margin-right: 1.25rem;
			}
			&s{
				@extend .b-grid;
				
				margin: 1.25rem 0 0;
			}
		}
	}
}