.promo{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	margin: 2rem 0;
	
	text-align: center;
	text-transform: uppercase;
	
	color: white;
	
	// elements
	a{
		color: inherit;
	}
	&__{
		&col:first-child &cell:first-child{
			background: $color__primary;
		}
		&col:last-child&cell{
			background: $color__secondary;
		}
		&col{
			width: 290px;
		}
		&cell{
			min-height: 290px;
			
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		&title{
			margin: 0 0 1rem;
			
			font-family: $font__family_secondary;
			font-size: 2.25rem;
			font-style: italic;
			
			&::before{
				content: '⟵';
				display: block;
			}
		}
		a&link{
			font-size: 0.875rem;
			font-weight: 700;
			line-height: 2.6;
			
			text-decoration: underline;
			
			&:hover{
				text-decoration: none;
			}
		}
		&move{
			display: inline-block;
			
			margin: 1rem 0 0;
		}
		
		&col:first-child &cell:first-child{
			background: $color__primary;
		}
		&col:first-child &cell:first-child &title::before{
			content: '⟵';
		}
		&col:last-child&cell{
			background: $color__secondary;
		}
		&col:last-child&cell &title::before{
			content: '⟵';
			transform: rotate(180deg);
		}
	}
}