<div class="promo">
    <div class="promo__col">
        <div class="promo__cell">
            <div class="promo__title">Что шьем?</div>
            <a href="#" class="promo__link">аксессуары</a>
            <a href="#" class="promo__link">интерьер</a>
            <a href="#" class="promo__link">одежда</a>
            <a href="#" class="promo__move">Перейти в каталог</a>
        </div>
        <img src=":290x290/984" alt="" class="promo__cell">
    </div>
    <div class="promo__col">
        <img src=":290x290/a48" alt="" class="promo__cell">
        <img src=":290x290/348" alt="" class="promo__cell">
    </div>
    <div class="promo__col">
        <img src=":290x290/486" alt="" class="promo__cell">
        <img src=":290x290/168" alt="" class="promo__cell">
    </div>
    <div class="promo__col promo__cell">
        <div class="promo__title">Из чего <br>шьем?</div>
        <a href="#" class="promo__link">Трикотаж</a>
        <a href="#" class="promo__link">Плательные ткани</a>
        <a href="#" class="promo__link">Шифон, атлас, шелк</a>
        <a href="#" class="promo__link">креп, кружево</a>
        <a href="#" class="promo__move">Перейти в каталог</a>
    </div>
</div>