<div class="section">
    <div class="section__name">Читайте также</div>
    <div class="features features--4">
        <div class="feature" repeat="4">
            <img src=":270x290" alt="" class="feature__image">
            <a href="#" class="feature__title">Главные модные тенденции осенне-зимнего сезона 2015-2016</a>
        </div>
    </div>
</div>