<div class="feature">
    <img src=":270x290" alt="" class="feature__image">
    <a href="#" class="feature__title">Главные модные тенденции осенне-зимнего сезона 2015-2016</a>
    <div class="feature__desc">Из года в год, из сезона в сезон, многочисленная «армия» дизайнеров предлагает</div>
    <time class="feature__time">16.08.2015</time>
</div>