.feature{
	max-width: 270px;
	margin: 0 0 3rem 0;
	
	text-align: center;
	
	&s--3 &:not(:nth-child(3n)){
		margin-right: 2rem;
	}
	&s--4 &:not(:nth-child(4n)){
		margin-right: 2rem;
	}
	
	// wrapper
	&s{
		@extend .b-grid;
		flex-wrap: wrap;
	}
	
	// elements
	&__{
		&image,
		&title,
		&time{
			display: block;
		}
		&desc,
		&time{
			font-size: .8rem;
		}
		&image{
			margin-bottom: 1.5rem;
		}
		&title{
			margin: 0 0 1.5rem;
			
			font-family: $font__family_secondary;
			font-size: 1rem;
			
			transition: ;
			color: inherit;
			
			&:hover{
				color: $color__secondary;
			}
		}
		&desc{
			color: $color__font_secondary;
		}
		&time{
			margin: 1.5rem 0 0;
			
			color: gray(90%);
		}
	}
}