.benefits{
	
	padding: 3rem 2rem;
	
	background: url(assets/img/benefits__bg.jpg) center / cover no-repeat;
	color: white;
	
	// elements
	.section__note{
		color: white;
	}
	
	&__{
		&list{
			display: flex;
			justify-content: space-between;
			
			margin: 3rem 0;
		}
		&item{
			display: flex;
			
			&:not(:last-child) {
				margin-right: 3rem;
			}
		}
		&icon{
			margin: 0 1.25rem 0 0;
		}
		&title{
			margin: 0 0 1.5rem;
			
			font-size: 0.875rem;
			font-weight: 700;
			
			text-transform: uppercase;
			color: $color__primary;
		}
		&desc{
			opacity: .5;
		}
	}
}