<div class="section section--full benefits">
    <div class="section__title">для кого наш сайт?</div>
    <div class="section__note">Полезный ресурс для тех кто любит шить сам или только хочет начать</div>
    <div class="benefits__list">
        <div class="benefits__item">
            <div class="benefits__icon i-tools"></div>
            <div class="benefits__info">
                <div class="benefits__title">Для дизайнеров</div>
                <div class="benefits__desc">Полезный ресурс для тех кто любит шить сам или только хочет начать</div>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon i-scissors"></div>
            <div class="benefits__info">
                <div class="benefits__title">Для хэндмэйд мастеров</div>
                <div class="benefits__desc">Полезный ресурс для тех кто любит шить сам или только хочет начать</div>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon i-thread"></div>
            <div class="benefits__info">
                <div class="benefits__title">для швейных ателье</div>
                <div class="benefits__desc">Полезный ресурс для тех кто любит шить сам или только хочет начать</div>
            </div>
        </div>
        <div class="benefits__item">
            <div class="benefits__icon i-t-shirt"></div>
            <div class="benefits__info">
                <div class="benefits__title">наименование</div>
                <div class="benefits__desc">Полезный ресурс для тех кто любит шить сам или только хочет начать</div>
            </div>
        </div>
    </div>
    <div class="section__note section__note--long">Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков. Нажав на кнопку «Написать реферат», вы лично создаете уникальный текст, причем именно от вашего нажатия на кнопку зависит.</div>
</div>