<head>
	<meta charset="utf-8">

	<title>Fabric</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="shortcut icon" href="img/favicon.png">
	<import src="modules/g-errors/g-errors_head.htm"></import>

	<script src="async.app.js" async></script>
	<script src="defer.app.js" defer></script>
</head>
