.section{
	
	// mods
	&--{
		&full{
			min-width: calc(100% + 4rem);
			margin: 0 -2rem;
		}
		&separated{
			padding: 60px 0;
			border-top: 1px solid gray(90%);
		}
	}
	
	// elements
	&__{
		&title,
		&subtitle,
		&note{
			text-align: center;
		}
		&title,
		&subtitle{
			font-family: $font__family_secondary;
			font-style: italic;
			font-weight: 700;
			line-height: 1;
			
			text-transform: uppercase;
		}
		&subtitle,
		&note{
			margin-bottom: 2rem;
			
			color: $color__font_secondary;
		}
		&title{
			margin: 2rem 0;
			
			font-size: 2.25rem;
		}
		&subtitle{
			font-size: 1.125rem;
		}
		&note{
			max-width: 50%;
			margin-right: auto;
			margin-left: auto;
			
			&--long{
				max-width: 80%;
			}
		}
		&name{
			margin: 3rem 0;
			
			font-family: $font__family_secondary;
			font-size: 1.5rem;
			font-style: italic;
			
			text-transform: uppercase;
		}
		&content{
			@extend .b-grid;
			
			margin: 4rem 0 0;
		}
		&aside{
			min-width: 300px;
			padding-right: 2rem;
		}
	}
}