.filter{
	padding: 0 1.75rem 0 0;
	margin: 4rem 0 0;
	
	// elements
	&__{
		&title{
			border-bottom: 1px solid;
			margin-bottom: 1.5rem;
			
			font-family: $font__family_secondary;
			
			color: gray(20%);
			
			&:not(:first-child){
				margin-top: 2rem;
			}
		}
		&checkbox{
			display: block;
			margin: .25rem 0;
			
			input{
				vertical-align: middle;
			}
		}
		&field{
			display: block;
			
			width: 100%;
			padding: 0 .75rem;
			
			font-size: 0.7rem;
			line-height: 1.5rem;
			
			box-shadow: inset 0 0 0 1px gray(90%);
			transition: ;
			
			&:hover,
			&:focus{
				box-shadow: inset 0 0 0 2px $color__yellow;
			}
		}
		&actions{
			margin-top: 2.25rem;
			
			color: $color__primary;
			
			display: flex;
			justify-content: space-between;
		}
		&button{
			cursor: pointer;
		}
		&send{
			size: 130px 35px;
			
			background: $color__primary;
			color: white;
		}
	}
}