<div class="filter">
    <div class="filter__title">Стоимость, руб</div>
    <div class="filter__fieldset">
        <import src="slider"></import>
    </div>
    <div class="filter__title">Бренд</div>
    <div class="filter__fieldset">
        <label class="filter__checkbox checkbox" repeat="2">
            <input type="checkbox" name="brand" class="checkbox__input">
            <span class="checkbox__dot"></span>
            Название бренда
        </label>
    </div>
    <div class="filter__title">Состав</div>
    <div class="filter__fieldset">
        <label class="filter__checkbox checkbox" repeat="2">
            <input type="checkbox" name="brand" class="checkbox__input">
            <span class="checkbox__dot"></span>
            Название бренда
        </label>
    </div>
    <div class="filter__title">Артикул</div>
    <div class="filter__fieldset">
        <input type="text" class="filter__field" placeholder="Поиск по артикулу">
    </div>
    <div class="filter__title">Ключевое слово</div>
    <div class="filter__fieldset">
        <input type="text" class="filter__field" placeholder="Поиск по названию">
    </div>
    <div class="filter__actions">
        <button class="filter__button filter__send">Фильтровать</button>
        <button class="filter__button <filter__reset></filter__reset>">Сбросить все</button>
    </div>
</div>