<div class="pagination">
    <a href="#" class="pagination__cell pagination__arrow pagination__arrow--prev i-arrow-pag"></a>
    <span class="pagination__cell pagination__numb pagination__cell--active">1</span>
    <a href="#" class="pagination__cell pagination__numb">2</a>
    <a href="#" class="pagination__cell pagination__dots"></a>
    <a href="#" class="pagination__cell pagination__numb">15</a>
    <a href="#" class="pagination__cell pagination__arrow pagination__arrow--next i-arrow-pag"></a>
</div>