.pagination{
	@extend .b-grid;
	
	// elements
	&__{
		&cell{
			@extend .b-grid;
			@extend .b-grid_centred;
			
			size: 2rem;
			border: 1px solid gray(90%);
			margin: 0 -1px 0 0;
			
			transition: ;
			
			color: inherit;
			
			&:hover,
			&--active{
				border-color: $color__primary;
				background: $color__primary;
				color: white;
			}
		}
		&dots{
			&:after{
				content: '...';
			}
		}
		&arrow{
			&:hover::before{
				filter: brightness(0) invert(0);
			}
			&--{
				&prev{
					transform: rotate(180deg);
				}
			}
		}
	}
}